a,body{
    color:#fff
}
#crsr,#video-crsr2{
    transform:translate(-50%,-50%)
}
#video-crsr,#video-crsr2{
    background-color:#fb701b;
    border-radius:50%;
    z-index:9991;
    display:flex
}
#crsr,#nav{
    background-color:transparent
}
#video-crsr,#video-crsr2{
    position:absolute;
    left:50%
}
#page1 .hero:nth-child(3) h1::before,.line h1,.line h2{
    font-weight:900;
    text-transform:uppercase
}
#nav-part2 h2,#video-crsr h5,.line h1,.line h2{
    text-transform:uppercase
}
#main,#page1,#page2{
    position:relative
}
#video-img-container,#video-img-container img,#video-img-container video:nth-child(2),#video-img-container video:nth-child(3){
    height:100%;
    border-radius:150px 0 150px 13px;
    width:100%
}
#page1,#page2,#page4,body{
    background-color:#000
}
#page3 h1::before,#page4-content h1::before{
    font-family:mekgen;
    -webkit-text-stroke:0.5px rgba(255,255,255,0.803)
}
#page3 h1::before,#page4-content h1::before,#video-container::before{
    -webkit-text-stroke:0.5px rgba(255,255,255,0.803)
}
#page1::before,#page4-content h1::before,#video-container::before{
    color:transparent;
    left:-15%;
    font-style:italic
}
#page3,#page4,#page5{
    min-height:100vh
}
.elem,.elem2{
    white-space:nowrap
}
*,.cards:hover img,body{
    cursor:none!important
}
#main,.cards,.hero h1,.image-div,.line{
    overflow:hidden
}
@font-face{
    font-family:'Plain Light';
    src:url('../fonts/plain-light-webfont.woff2') format('woff2')
}
@font-face{
    font-family:'Pixelify sans';
    src:url('../fonts/PixelifySans-VariableFont_wght.woff2') format('woff2')
}
@font-face{
    font-family:'silk serif';
    src:url('../fonts/silkserif-regularitalic-webfont.woff2') format('woff2')
}
@font-face{
    font-family:Raleway;
    src:url('../fonts/Raleway-VariableFont_wght.woff2') format('woff2')
}
@font-face{
    font-family:'Qwitcher Grypen';
    src:url('../fonts/QwitcherGrypen-Regular.woff2') format('woff2')
}
@font-face{
    font-family:gilroy;
    src:url('../fonts/Gilroy-Bold.woff2') format('woff2')
}
@font-face{
    font-family:mekgen;
    src:url('../fonts/mekgen.otf') format('otf')
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'gilroy'
}
::selection{
    background:0 0!important;
    color:#33d8ff
}
::-moz-selection{
    background:0 0!important;
    color:#33d8ff
}
::-webkit-scrollbar{
    background-color:#333;
    width:8px
}
.web_img,.web_img22{
    width:15vw;
    height:17vw;
    background-size:cover;
    background-position:center;
    pointer-events:none;
    border-radius:20px;
    position:fixed;
    z-index:999;
    opacity:0
}
::-webkit-scrollbar-thumb{
    background-color:#fff;
    border-radius:20px
}
html{
    scroll-behavior:smooth
}
body{
    height:100%;
    width:100%;
    overflow-x:hidden;
    overflow-y:auto
}
a{
    text-decoration:none
}
#crsr{
    height:2.5vw;
    width:2.5vw;
    border-radius:20vw 20vw 0;
    filter:brightness(1);
    position:fixed;
    z-index:9999;
    box-shadow:inset 0 0 1vw #fff;
    backdrop-filter:blur(2px);
    pointer-events:none
}
#video-crsr{
    height:9vw;
    width:9vw;
    top:-6%;
    justify-content:center;
    align-items:center;
    pointer-events:none;
    flex-direction:column
}
#video-crsr2{
    height:30vw;
    width:30vw;
    top:50%;
    justify-content:center;
    align-items:center;
    pointer-events:none;
    flex-direction:column
}
#video-crsr h5{
    font-family:Raleway;
    font-size:.7vw
}
.web_img{
    background-image:url('./images/ui2.jpg')
}
.web_img22{
    background-image:url('./images/UI.jpg')
}
.hero,.line{
    height:fit-content
}
#nav-part2 h2:hover #crsr{
    height:3vw!important;
    width:3vw!important
}
#loader{
    height:100%;
    width:100%;
    position:fixed;
    z-index:99999;
    background:#000;
    padding:25vh 10vw
}
.line{
    display:flex;
    align-items:center;
    justify-content:flex-start;
    gap:3vw
}
#nav-part2,#page4-flex,.container1{
    gap:2vw;
    display:flex
}
#line1-part1{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1vw
}
#line1-part1 h5,#line1-part1 h6{
    font-family:'silk serif';
    font-size:3vw;
    font-weight:400
}
#nav h1,#nav-part2 h2,.hero h1{
    font-family:gilroy
}
#line1-part1 h5{
    width:5vw;
    text-align:right
}
.line h1{
    font-size:6.5vw
}
.line h2{
    font-size:5vw;
    opacity:0;
    animation-duration:2s;
    animation-iteration-count:infinite
}
@keyframes anime{
    0%{
        font-family:'Plain Light';
        -webkit-text-stroke:1px white;
        color:#fff;
        font-weight:500;
        opacity:1
    }
    48%{
        font-family:'Plain Light';
        -webkit-text-stroke:1px white;
        color:#fff;
        font-weight:500;
        opacity:0
    }
    50%{
        color:transparent;
        font-family:'silk serif';
        -webkit-text-stroke:1px white;
        opacity:1;
        font-weight:500
    }
    100%{
        color:transparent;
        font-family:'silk serif';
        -webkit-text-stroke:1px white;
        opacity:0;
        font-weight:500
    }
}
#page1{
    height:130vh;
    width:100%
}
#nav{
    backdrop-filter:blur(6px);
    padding:4vh 4vw;
    display:flex;
    position:sticky;
    top:0;
    z-index:999;
    justify-content:start;
    align-items:center
}
#nav h1{
    font-size:30px
}
#nav-part2{
    align-items:center;
    justify-content:center
}
#nav-part2 h2{
    font-size:16px;
    font-weight:700
}
.hero h1{
    font-size:6vw;
    font-weight:600;
    line-height:14vh
}
#page1::before{
    content:'01';
    position:absolute;
    font-size:5vw;
    font-family:gilroy;
    -webkit-text-stroke:0.5px rgb(255,255,255)
}
#page1 .hero:nth-child(3) h1::before {
    content: 'S';
    font-family: 'gilroy';
    font-size: 9vw;
    margin: 10px;
    font-weight: 400;
}
#page1 .hero:nth-child(4) h1::after{
    content:'l';
    font-family:'Pixelify sans';
    font-weight:500;
    font-size:6vw
}
.hero{
    width:80%;
    margin-left:20%
}
.hero:nth-child(3){
    margin-top:11vh
}
.hero h1 span:first-child {
    /* padding-bottom: 8px; */
    /* border-bottom: 4px solid #fff; */
    transition: .4s ease-in-out;
}
.hero h1 span:first-child:hover{
    -webkit-text-stroke:1px #ffffff;
    color:transparent;
    font-weight:400;
    border-bottom:1px solid #fff
}
.hero h1 span:nth-child(2){
    font-weight:100;
    text-decoration:none
}
#footer h1 span,#page3 h1 span,#page4-content h1 span,.elem h1 i,.elem2 h1 i,.hero h1 span:nth-child(3){
    font-weight:400;
    font-family:'silk serif'
}
.hero h1 span:nth-child(3){
    color:transparent;
    -webkit-text-stroke:1px white;
    text-decoration:none;
    border-bottom:1px solid #fff;
    transition:.4s ease-in-out
}
.hero h1 span:nth-child(3):hover{
    -webkit-text-stroke:unset;
    color:#fff;
    border-bottom:4px solid #fff
}
#page2{
    height:100vh;
    width:100%
}
#video-container{
    height:70vh;
    width:75%;
    position:absolute;
    right:0
}
#page3,#page4-blue-div,#page4-content,#page5,.cards{
    position:relative
}
#video-container::before{
    content:'02';
    position:absolute;
    font-size:5vw;
    font-family:gilroy
}
#video-img-container{
    position:relative;
    box-shadow:0 1px 132px -59px #d3d3d3
}
#video-crsr i{
    font-size:3vw
}
#video-img-container img{
    object-fit:cover;
    position:absolute;
    z-index:999
}
#video-img-container video:nth-child(2){
    object-fit:cover;
    position:absolute;
    z-index:99
}
#video-img-container video:nth-child(3){
    filter:blur(100px);
    object-fit:cover;
    opacity:0
}
#page3{
    width:100%;
    padding:10vh;
    display:flex;
    flex-direction:column
}
#page3-container{
    width:100%;
    margin-left:40vh
}
#page3-container h1,#page4-content h1{
    font-size:13vw;
    font-family:'Qwitcher Grypen';
    font-weight:700;
    line-height:14vh;
    -webkit-box-reflect:below -15px linear-gradient(transparent,#00000019)
}
#page3 h1::before{
    content:'03';
    position:absolute;
    font-size:6vw;
    font-style:italic;
    color:transparent;
    left:10%
}
#page3 h1 span,#page4-content h1 span{
    font-size:6vw;
    text-transform:lowercase;
    color:transparent;
    -webkit-text-stroke:1px white;
    overflow:hidden;
    line-height:14vh
}
.container1{
    align-items:center;
    flex-wrap:wrap;
    padding:16vh 0
}
#frames{
    width:90%;
    height:50vh
}
#page4{
    width:100%;
    padding:15vh
}
#page4-content{
    width:78vw;
    margin-left:18%
}
#page4-content h1::before{
    content:'04';
    position:absolute;
    font-size:5vw
}
#page4-flex{
    justify-content:space-between;
    width:70vw;
    margin-top:4vw
}
#page4-flex img{
    width:35vw;
    height:79vh;
    object-fit:cover;
    border-radius:11vw 0;
    margin-top:5vh;
    box-shadow:0 0 88px -20px #a1bcdb;
    z-index:999;
    -webkit-box-reflect:below 0px linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.15));
    transform:rotateY(50deg);
    transition:.5s
}
#page4-flex img:hover{
    box-shadow:0 0 187px -30px #a1bcdb;
    transform:rotateY(22deg)
}
#page4-flex p{
    text-align:justify;
    transform:translate(-30px,43px) rotateY(-28.9999deg);
    font-size:1.1vw
}
#page4-flex:hover p{
    transform:rotateY(356deg)
}
.underline{
    height:1px;
    width:100%;
    background-color:#fff;
    margin:2vw 0
}
#page4-content>p{
    font-size:1.6vw;
    width:90%;
    text-align:justify;
    font-family:Raleway
}
#page4-blue-div{
    width:40vw;
    background:linear-gradient(45deg,#2d2d2dd9,#000000de);
    top:-58vh;
    left:60vh;
    height:33vw;
    z-index:999;
    border-radius:0 150px 0 87px;
    padding:2.5vw;
    border:1px solid #a2a2a296;
    transform:rotateY(334deg);
    backdrop-filter:blur(8px);
    box-shadow:0 0 37px -17px #fff;
    -webkit-box-reflect:below 10px linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.4));
    transition:.4s
}
#footer,#page5,.black-box{
    background-color:#000
}
#page4-blue-div:hover{
    transform:rotateY(346deg);
    box-shadow:0 0 66px -26px #fff
}
.blu-div-elem{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:2vw 0;
    border-bottom:1px solid #fff;
    transition:transform .3s
}
.blu-div-elem h4 {
    font-size: 1.3vw;
    font-family: 'Raleway';
    text-shadow: 0 8px 33px rgba(255,255,255,.637);
    font-weight: 700;
}
.blu-div-elem p{
    text-align:end;
    width:50%;
    font-family:gilroy;
    text-shadow:0 8px 33px rgba(221,221,221,.779);
    font-weight:500;
    display:flex;
    justify-content:end;
    align-items:center;
    color:unset;
    gap:10px
}
.elem h1,.elem2 h1{
    font-size:6vw;
    font-weight:700;
    margin-right:10px;
    display:inline-block;
    animation-name:anime1;
    animation-duration:50s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
    font-family:gilroy;
    text-transform:uppercase
}
#footer h1 span,.elem h1,.elem2 h1{
    color:transparent;
    -webkit-text-stroke:1px white
}
.blu-div-elem p i{
    font-size:35px
}
.blu-div-elem p i:hover .names{
    display:initial
}
#page4-content .underline:nth-child(6){
    margin:0;
    position:absolute;
    top:180vh
}
#page5{
    width:100%
}
.elem{
    transform:translate(21%,50%) rotateZ(-13deg);
    opacity:.4
}
.elem2{
    transform:rotate(375deg)
}
.elem h1{
    text-wrap:nowrap
}
.elem2 h1{
    animation-direction:reverse;
    transform:translateX(calc(-100% - 20px))
}
@keyframes anime1{
    from{
        transform:translateX(0)
    }
    to{
        transform:translateX(calc(-100% - 14px))
    }
}
.elem h1:hover,.elem2 h1:hover{
    transition:.3s;
    color:#fff!important;
    text-shadow:0 0 20px -3px #fff
}
.elem h1 i,.elem2 h1 i{
    font-style:italic;
    font-size:5.8vw
}
#page4-content,#page4-flex{
    perspective:55vw
}
#footer{
    min-height:70vh;
    width:100%;
    padding:24vh 10vh 20vh
}
#footer h1{
    font-weight:900;
    font-size:20vh;
    font-family:'Qwitcher Grypen';
    -webkit-box-reflect:below -75px linear-gradient(transparent,#0000004a)
}
#footer h1 span{
    font-size:12vh
}
#footer-box{
    display:flex;
    gap:8vw;
    justify-content:center;
    align-items:center
}
.box h2{
    font-size:6vh;
    font-weight:600;
    font-family:gilroy
}
#footer-box .box{
    margin-top:10vh;
    width:100%;
    border-right:1px solid #fff;
    display:flex;
    flex-direction:column;
    gap:3vh
}
#footer-box .box:first-child{
    border-left:1px solid #fff;
    padding-left:10vh
}
#footer-box .box:first-child p{
    font-size:3vh;
    font-family:'silk serif'
}
.socials{
    display:flex;
    gap:4vw
}
#footer-box .box:nth-child(2){
    border-right:1px solid #fff;
    height:30vh;
    gap:6vh
}
.ri-github-fill,.ri-instagram-line,.ri-linkedin-fill,.ri-twitter-x-line,.ri-whatsapp-fill{
    font-size:5vh
}
.ri-github-fill:hover,.ri-instagram-line:hover,.ri-linkedin-fill:hover,.ri-twitter-x-line:hover,.ri-whatsapp-fill:hover{
    letter-spacing:.4vh
}
@media screen and (max-width:992px){
    #cursor{
        display:none
    }
}
@media screen and (max-width:528px){
    #page4-blue-div,.hero h1,.line{
        overflow:hidden
    }
    #crsr,#page4-content .underline:nth-child(6),#video-crsr{
        display:none
    }
    #page1,#page2,#page3{
        height:72vh
    }
    .hero h1{
        font-size:11vw;
        font-family:Raleway;
        font-weight:600;
        line-height:9vh
    }
    #page1 .hero:nth-child(3) h1::before {
        content: 'S';
        font-family: 'gilroy';
        font-size: 21vw;
        /* margin: 10px; */
        font-weight: 400;
    }
    .hero{
        width:100%;
        margin-left:9%
    }
    #page1 .hero:nth-child(4) h1::after{
        font-size:12vw
    }
    #nav-part2 h2{
        font-size:11px
    }
    #nav h1{
        font-size:22px
    }
    #video-container{
        height:60vh;
        width:100%
    }
    #page4{
        height:90vh!important;
        padding:0;
        min-height:112vh!important
    }
    #page4-content{
        position:relative;
        width:80vw;
        margin-left:10%
    }
    #page4-content h1{
        font-size:23vw;
        line-height:0;
        -webkit-box-reflect:below -76px linear-gradient(transparent,#00000019)
    }
    #page4-content>p{
        font-size:3.6vw;
        width:100%
    }
    #page4-flex{
        width:100%;
        margin-top:6vw;
        gap:18vw
    }
    #page4-flex img{
        margin-left:10px;
        width:38vw;
        height:42vh;
        transform:rotateY(21deg)
    }
    #page4-blue-div{
        transform:rotateY(-5deg);
        -webkit-box-reflect:below 5px linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.4));
        padding:3vh 2vh;
        border-radius:0 95px 0 87px;
        width:79vw!important;
        top:5vh!important;
        left:1vh!important;
        height:34vh!important;
        transform:none!important
    }
    #page4-flex p{
        text-align:start;
        font-size:3vw;
        transform:translate(-56px,50px) rotateY(-22deg)!important
    }
    #page5{
        min-height:55vh;
        margin:20vh 0 0;
        padding:10vh 0;
        overflow-x:hidden;
        width:110vw
    }
    .blu-div-elem h4{
        font-size:4vw;
        font-family:'Pixelify sans';
        text-shadow:0 2px 21px rgba(255,255,255,.4);
        font-weight:600
    }
    .blu-div-elem p{
        font-size:1.8vw
    }
    .elem h1,.elem h1 i,.elem2 h1,.elem2 h1 i{
        font-size:12vw;
        font-weight:600
    }
    .elem h1,.elem2 h1{
        color:#fff
    }
    .elem h1 i,.elem2 h1 i{
        color:transparent
    }
    #video-img-container img{
        object-position:-100px center
    }
    #footer{
        padding:2vh 2vh 12vh
    }
    .elem,.elem2{
        transform:rotateZ(0)
    }
    #footer h1{
        font-size:11vh;
        -webkit-box-reflect:below -55px linear-gradient(transparent,#0000004a)
    }
    #footer h1 span{
        font-size:7vh
    }
    .box h2{
        font-size:4vh;
        text-align:center
    }
    #footer-box .box:first-child{
        padding-left:0vh
    }
    #footer-box .box:nth-child(2){
        gap:5vw
    }
    #footer-box{
        gap:4vw
    }
    #footer-box .box{
        gap:2vh
    }
    .box p a{
        font-size:2vh
    }
    .socials i{
        margin-top:-10px;
        font-size:3.5vh
    }
    .socials{
        display:flex;
        flex-direction:column;
        align-items:center
    }
    #line1-part1 h5,#line1-part1 h6{
        font-family:'silk serif';
        font-size:10vw;
        font-weight:400
    }
    #line1-part1{
        display:flex;
        align-items:center;
        justify-content:center;
        gap:5vw
    }
    .line h1{
        font-size:12.5vw;
        text-transform:uppercase;
        font-weight:900
    }
    #line1-part1 h5{
        width:11vw;
        text-align:right
    }
    #loader{
        height:100%;
        width:100%;
        position:fixed;
        z-index:99999;
        background:#000;
        padding:25vh 3vw
    }
    .line{
        height:fit-content;
        display:flex;
        align-items:center;
        justify-content:flex-start;
        gap:7vw
    }
    .hero:nth-child(3){
        margin-top:2vh
    }
    .mouse-scroll{
        display:none!important
    }
    #video-container::before{
        content:'02';
        position:absolute;
        font-size:14vw;
        font-family:gilroy;
        font-style:italic;
        -webkit-text-stroke:0.5px rgba(255,255,255,0.803);
        color:transparent;
        left:-33%
    }
    .line h2{
        position:absolute;
        top:112vw!important;
        right:29vw!important;
        font-size:11vw!important
    }
    #page3-container{
        width:100%;
        margin-left:0!important
    }
    #page3-container h1{
        font-size:15vw!important;
        font-family:'Qwitcher Grypen';
        font-weight:700;
        line-height:14vh;
        -webkit-box-reflect:below -86px linear-gradient(transparent,#00000019)
    }
    .container1{
        padding:6vh 0;
        gap:6vw
    }
    .cards{
        width:65vw!important;
        height:19vh!important
    }
    #page3{
        min-height:138vh!important
    }
    .blu-div-elem p i{
        font-size:16px!important
    }
    .blu-div-elem p img{
        width:16px!important
    }
}
.cards,.container{
    gap:2vw;
    justify-content:center;
    display:flex
}
.container{
    align-items:center;
    flex-wrap:wrap;
    padding:10vh
}
.cards{
    width:30vw;
    height:36vh;
    align-items:center;
    border-radius:0 40px;
    box-shadow:0 0 10px #fff
}
.black-box,.cards img{
    width:100%;
    height:100%
}
.black-box,.cards h1{
    position:absolute
}
.cards img{
    object-fit:cover;
    filter:blur(3px);
    transform:scale(1.2)
}
.black-box{
    opacity:.5;
    display:flex;
    justify-content:center;
    align-items:center
}
.cards:hover img{
    filter:blur(0px);
    transition:.5s;
    transform:scale(1)
}
.cards:hover{
    box-shadow:0 0 100px -37px #fff
}
.cards:hover .black-box{
    opacity:0;
    transform:translateY(-100px);
    cursor:none!important
}
#image-div-container{
    padding:1vw;
    position:relative;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
    -ms-flex-align:start;
    align-items:flex-start;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    justify-content:flex-start;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.image-div{
    position:relative;
    -ms-flex-negative:0;
    flex-shrink:0;
    margin:1vw
}
.image-div:first-child{
    height:29vw;
    width:21vw
}
.image-div .web_img{
    object-fit:cover;
    object-position:center
}
.web_img img{
    width:400px;
    height:500px
}
.circle{
    background-color:#fff!important;
    color:#000!important;
    width:100px!important;
    height:100px!important;
    border-radius:20vw 20vw 0!important
}
.mask{
    overflow:visible!important
}
.mouse-scroll{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    gap:15px;
    padding:20px;
    -webkit-animation:1.9s cubic-bezier(.455,.03,.515,.955) infinite both shake-vertical;
    animation:1.9s cubic-bezier(.455,.03,.515,.955) infinite both shake-vertical
}
.mouse-scroll i{
    font-size:30px
}
.mouse-scroll h2{
    font-size:15px;
    text-transform:uppercase
}
@-webkit-keyframes shake-vertical{
    0%,100%{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    10%,30%,50%,70%{
        -webkit-transform:translateY(-8px);
        transform:translateY(-8px)
    }
    20%,40%,60%{
        -webkit-transform:translateY(8px);
        transform:translateY(8px)
    }
    80%{
        -webkit-transform:translateY(6.4px);
        transform:translateY(6.4px)
    }
    90%{
        -webkit-transform:translateY(-6.4px);
        transform:translateY(-6.4px)
    }
}
@keyframes shake-vertical{
    0%,100%{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    10%,30%,50%,70%{
        -webkit-transform:translateY(-8px);
        transform:translateY(-8px)
    }
    20%,40%,60%{
        -webkit-transform:translateY(8px);
        transform:translateY(8px)
    }
    80%{
        -webkit-transform:translateY(6.4px);
        transform:translateY(6.4px)
    }
    90%{
        -webkit-transform:translateY(-6.4px);
        transform:translateY(-6.4px)
    }
}
.firewall-img img{
    width: 50px;
    height: auto;

}